.form {
    display: grid;
    gap: 8px;
    margin-top: 16px;
}
.dashboard-grid {
    margin: 20px;
  }
  
  .dashboard-item {
    padding: 10px;
  }
  .dashboard-container {
    max-width: 1200px; 
    min-width: 300px;  
    margin: 0 auto;    
    padding: 20px;     
  }